<div class="container">
    <h2> Log In </h2>

    <div>
        <%= form_for :users do |f| %>
            <% f.options[:html][:role] = "form" %>
            <p><%= f.text_field :email, class: "form-control", placeholder: "Email address" %></p>
            <p><%= f.text_field :password, class: "form-control", placeholder: "Password" %></p>
            <p><%= f.submit "Log in", class: "btn btn-primary" %></p>
        <% end %>
    <div>

    <div>
        <br/>
        <p>Or sign up instead</p>
        <%= button_to "Sign Up", signup_path, class: "btn btn-primary", method: :get %>
    </div>
<div>
