<% if current_user == @user && !current_user.nil? %>

  <h2>Home Page</h2>
  <h3> <%= "Hi, #{@user.username}" %> </h3>

  <div>
    Username: <%= @user.username %>
    Email: <%= @user.email %>
    User ID: <%= @user.id %>
  </div>

<% else %>

  <h3>Not authorized</h3>
  <p>
    <%= link_to "Go to my homepage", user_path(current_user) %>
  </p>
  <p>
    <%= link_to "Login", get_login_path%>
  </p>

<% end %>
