<div class="container">
    <h2> Sign Up </h2>

    <div>
        <%= form_for @user, url: users_path(@user) do |f| %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <% f.options[:html][:role] = "form" %>
            <p><%= f.text_field :username, class: "form-control", placeholder: "Username" %></p>
            <p><%= f.text_field :email, class: "form-control", placeholder: "Email address" %></p>
            <p><%= f.text_field :password, class: "form-control", placeholder: "Password" %></p>
            <p><%= f.submit "Sign up", class: "btn btn-primary"%></p>
        <% end %>
    <div>

    <div>
        <br/>
        <p>Or log in instead</p>
        <%= button_to "Log In", get_login_path, class: "btn btn-primary", method: :get %>
    </div>
<div>
