<!DOCTYPE html>
<html>
  <head>
    <title>PomodoroUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <%# TODO: remove login link when already on login page %>
    <%# TODO: why does logging out still display Logout button at /login %>
    <div>
      <br/>
      <% if logged_in? %>
        <%= button_to "Logout", logout_path, method: :post %>
      <% else %>
        <%= button_to "Login Page", get_login_path, method: :get %>
      <% end %>
    </div>
  </body>

</html>
