<div>
    <h3><%= @task_list.name %></h3>

    <% @task_list.tasks.each do |t| %>
        <p> <%= t.name %> </p>
    <% end %>

    <p>Status: <%= @task_list.status %> </p>
    <p>List created at: <%= @task_list.created_at %> </p>
    <p>Pomodoros started: <%= @task_list.pomodoros_started %> </p>
    <p>Pomodoros completed: <%= @task_list.pomodoros_completed %> </p>

</div>
