<div class="container text-center">

    <h1><%= @task_list.name %></h1>

    <!-- task list metadata -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                Status: <%= @task_list.status %>
            </div>
            <div class="col-md-6">
                List created at: <%= @task_list.created_at %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Pomodoros started: <%= @task_list.pomodoros_started %>
            </div>
            <div class="col-md-6">
                Pomodoros completed: <%= @task_list.pomodoros_completed %>
            </div>
        </div>
    </div>

    <hr/>

    <!-- add a new task -->
    <!-- TODO: submit will create a task in the DB & trigger refresh -->
    <div class="form-group">
        <form role="form">
            <input type="text" class="form-control" placeholder="Your Task" name="task">
        </form>
        <button type="button" class="btn btn btn-primary">Add</button>
    </div>

    <!-- tasks -->
    <ul class="list-unstyled" id="todo">
        <% @task_list.tasks.each do |t| %>
            <li>
                <div class="form-check"> 
                    <label class="form-check-label"> 
                        <input class="checkbox" type="checkbox"> 
                        <%= t.name %> 
                        <i class="input-helper"></i>
                    </label> 
                    <i class="remove mdi mdi-close-circle-outline"></i>
                </div>
            </li>
        <% end %>
    </ul>

</div>
