<div class="container text-center">

    <h1><%= @task_list.name %></h1>

    <!-- task list metadata -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                Status: <%= @task_list.status %>
            </div>
            <div class="col-md-6">
                List created at: <%= @task_list.created_at.strftime("%m/%d/%Y %H:%M") %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Pomodoros started: <%= @task_list.pomodoros_started %>
            </div>
            <div class="col-md-6">
                Pomodoros completed: <%= @task_list.pomodoros_completed %>
            </div>
        </div>
    </div>

    <hr/>
    <br/><br/><br/>

    <%= render "timer" %>

    <br/><br/><br/>

    <!-- tasks -->
    <!-- TODO: remove status from tasks table -->
    <table class="table text-left">
        <thead>
            <tr>
                <th class="col-md">Task</th>
                <th class="col-md">Action</th>
                <th class="col-md">Delete</th>
                <th class="col-md">Status</th>
            </tr>
        </thead>

        <tbody>
            <!-- add tasks -->
            <tr>
                <%= form_for [@task_list, @new_task] do |f| %>
                    <% f.options[:html][:role] = 'form' %>
                    <td><%= f.text_field :name, class: "form-control", placeholder: "Add a new task" %></td>
                    <td><%= f.submit class: "btn btn-link" %><td>
                    <td></td>
                <% end %>
            </tr>
            <!-- list tasks -->
            <% @active_tasks.each do |task| %>
                <tr>
                    <td><%= task.name %></td>
                    <td>
                        <% if task.status == @active_task_status %>
                            <%= link_to "Mark Done", task_list_mark_task_finished_path(@task_list, task) %>
                        <% else %>
                            <%= link_to "Mark Active", task_list_mark_task_active_path(@task_list, task)  %>
                        <% end %>
                    </td>
                    <td><%= link_to "Delete", [@task_list, task],  method: :delete, data: { confirm: "Are you sure?" } %></td>
                    <td><%= task.status %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

</div>
